[submodule "extern/core"]
	path = extern/core
	url = https://github.com/purnam/purnam.core.git
[submodule "extern/test"]
	path = extern/test
	url = https://github.com/purnam/purnam.test.git
[submodule "example/purnam/game"]
	path = example/purnam/game
	url = https://github.com/purnam/example.purnam.game.git
